.weather-full {
  &__date {
    margin-bottom: 20px;
    color: red;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 28px;
    color: darkcyan;
  }

  &__details {
    background-color: #ebebeb;
    border: 1px solid #afafaf;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(34, 60, 80, 0.9) inset;
    -moz-box-shadow: 0px 1px 4px 0px rgba(34, 60, 80, 0.9) inset;
    box-shadow: 0px 1px 4px 0px rgb(34 60 80 / 87%) inset;
  }

  &__box {
    overflow-x: scroll;

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: darkgrey;
    }

    &::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
    }
  }

  &__column {
    position: relative;
    width: calc(70px);
    font-size: 8px;
    z-index: 10;

    &::before {
      content: '';
      position: absolute;
      top: 80px;
      width: 100%;
      height: 2px;
      background-color: red;
      z-index: -1;
    }
  }

  &__time {
    background-color: azure;
  }

  &__temp {
    width: 100%;
    font-size: 10px;
    background-color: #4efbeb;
    border: 1px solid #eba9a9;
    border-radius: 5px;
    box-shadow: 0 1px 2px 1px #8b2929;
  }
}
