.weather {
  margin-bottom: 50px;
  &__error {
top: -20px;
  }

  &__cards {
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    background-color: darkgray;
    margin-right: 15px;
    margin-bottom: 15px;
  }
}
